﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>El Capitán</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/general.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/google-icons.css" />

	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/general.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/home.aspx">El Capitán</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
			<div class="navbar-nav ">
				<a class="nav-item nav-link active" href="/home.aspx">Inicio</a>
				<a class="nav-item nav-link" href="/tienda.aspx">Tienda</a>
				<a class="nav-item nav-link disabled" href="#">Carrito</a>
				<%  if (Convert.ToInt32(Session["role"]) == 3) {
						Response.Write("<a class='nav-item nav-link' href='/BackUp.aspx'>Back Up</a>");
						Response.Write("<a class='nav-item nav-link' href='/Bitacora.aspx'>Bitácora</a>");
						Response.Write("<a class='nav-item nav-link' href='/DV.aspx'>Dig. Verif.</a>");
					}

					if (Convert.ToString(Session["username"]) == "") {
						Response.Write("<a class='nav-item nav-link' href='/login.aspx'>Login</a>");
					} else {
						Response.Write("<a class='nav-item nav-link' href='/logout.aspx'>Logout</a>");
					}
				%>


				<%--                <a class="nav-item nav-link" href="#"><%Response.Write(Session["username"]); %></a>--%>
			</div>
		</div>
	</nav>

	<div>
		<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
		</asp:ContentPlaceHolder>
	</div>

	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Cuiñas, Santiago - Scollo, Denise - Sobrero, Martin - Vega, Eloy</p>
		</div>
	</footer>
</body>
</html>
