.card {
    margin: 1rem 0.5rem;
    transition: 0.2s;
    min-height: 15rem;
    background-size: cover;
    background-position-y: center;

    &:hover {
        box-shadow: 5px 5px 5px grey;
    }

    .card-text {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem 2rem;
        background-color: rgba(63, 94, 23, 0.65);
        color: white;
        min-width: 60%;
        text-align: right;

        i {
            float: left;
        }
    }
}
