@import 'card';
@import 'productos';
@import 'bitacora';

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.full-screen {
    min-height: 95vh;
}

.main-section {
    background: url('../../assets/img/main-bg.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;

    .main-container {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        color: white;
        align-items: center;
    }
}

.main-dialog {
	width: 100%;

	img {
		width: 65%;
	}

	p {
		margin: 1.5rem;
	}

	&-scroll {
		max-height: 95vh;
		overflow-y: scroll;
		width: 100%;

		p > i {
			vertical-align: bottom;
		}

		&::-webkit-scrollbar {
			width: 10px;
			background-color: rgba(0,0,0,0);

			&-thumb {
				background-color: rgba(60,60,60,0.7);
				border-radius: 10px;
			}
		}
	}
}

.sub-section {
    background: url('../../assets/img/beer-food.jpg') no-repeat;
    background-size: cover;

    .sub-container {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: right;
        align-items: center;
    }
}

.card {
    margin: 1rem 0.5rem;
    transition: 0.2s;
    min-height: 15rem;
    background-size: cover;
    background-position-y: center;

    &:hover {
        box-shadow: 5px 5px 5px grey;
    }

    .card-text {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem 2rem;
        background-color: rgba(63, 94, 23, 0.65);
        color: white;
    }
}

form {
    margin: 1.5rem;
    text-align: left;
    width: 100%;
}

#errorMsg {
	display: none;
}

#successMsg {
	display: none;
}
